<nav class="mon-nav shadow p-2">
  <div class="float-start menu">
      <a routerLink="">
        <i class="bi bi-list-task fs-3 text-white"></i>
      </a>
  </div>
  <div class="float-end">
    <i class="bi bi-bell-fill fs-4 mx-1"></i>
    <i class="bi bi-envelope-check-fill fs-4 mx-1"></i>
    <div class="dropdown dropdown-center d-inline">
      <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="image mx-1" src="dieyna.jpg">
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
</nav>
<section>
  <div>
    <a routerLink="/">
      <i class="bi bi-bar-chart-steps m-2"></i>
      <span>Dashboard</span>
    </a>
  </div>
  <ul>
    <li class="mb-2">
      <i class="bi bi-archive-fill mx-2 fs-6"></i>
      <span class="mx-2">Projects</span>
      <i  class="bi bi-chevron-compact-down"></i>
      <ul class="ms-3">
        <li>
          <a><span class="fs-6 fw-lighter">item1</span></a>
        </li>
        <li>
          <a><span class="fs-6 fw-lighter">item2</span></a>
        </li>
        <li>
          <a><span class="fs-6 fw-lighter">item3</span></a>
        </li>
      </ul>
    </li>
    <li class="mb-2">
      <i class="bi bi-activity mx-2 fs-6"></i>
      <span class="mx-2">Activities</span>
      <i  class="bi bi-chevron-compact-down"></i>
      <ul class="ms-3">
        <li>
          <a><span class="fs-6 fw-lighter">item1</span></a>
        </li>
        <li>
          <a><span class="fs-6 fw-lighter">item2</span></a>
        </li>
        <li>
          <a><span class="fs-6 fw-lighter">item3</span></a>
        </li>
      </ul>
    </li>
    <li class="mb-2">
      <i class="bi bi-list-task mx-2 fs-6"></i>
      <span class="mx-2">Tasks</span>
      <i  class="bi bi-chevron-compact-down"></i>
      <ul class="ms-3">
        <li>
          <a><span class="fs-6 fw-lighter">item1</span></a>
        </li>
        <li>
          <a><span class="fs-6 fw-lighter">item2</span></a>
        </li>
        <li>
          <a><span class="fs-6 fw-lighter">item3</span></a>
        </li>
      </ul>
    </li>
  </ul>
</section>
